torch==2.4.0
e3nn==0.5.1
numpy
opt_einsum
ase
torch-ema
prettytable
matscipy
h5py
dacite
torchmetrics
python-hostlist
configargparse
GitPython
pyYAML
tqdm
lmdb
orjson
matplotlib
pandas
fpsample
schedulefree 
cuequivariance==0.3.0
cuequivariance-torch==0.3.0
cuequivariance-ops-torch-cu12==0.3.0